
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: RGB(240, 240, 240) !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: RGB(240, 240, 240) !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: RGB(240, 240, 240) !important;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 80px) {
  #_zoom {
    zoom: 0.7 !important;
  }
}