
<div *ngIf="_loader.active" class="ui active inverted dimmer">
  <div class="ui massive text loader">Cargando</div>
</div>

<!-- <button id="btnMenu" (click)="_sidenav.toggle()" class="ui icon circular button fixed huge" *ngIf="_storage.isToken()">
  <i class="icon hand point left"></i>
</button> -->

<i id="btnMenu" *ngIf="_storage.isToken()" (click)="_sidenav.toggle()" class="icon bordered grey large chevron inverted right"></i>

<div id="idMenuLateral" class="ui sidebar left vertical labeled menu inverted">

  <!-- <a class="item">
    <img class="ui small image centered" alt="http://www.agdseguridad.com.ar" src="assets/menu_header.png">
  </a> -->

  <a *ngIf="!_storage.isToken()" routerLink="login" class="item"> <i class="icon caret right"></i> Iniciar Sesión</a>

  <ng-container *ngIf="_storage.isToken()">
    <a class="item" id="menuItemUser"> <i class="user circle icon"></i> <b><i>{{ this._storage.getSavedUser() }}</i></b> </a>
    <a routerLink="reclamos/nuevo" class="item"> <i class="icon orange caret right"></i>Nuevo Ticket</a>
    <a routerLink="reclamos/ver" class="item"> <i class="icon orange caret right"></i>Ver mis Tickets</a>
    <a routerLink="inventario/escanear" class="item"> <i class="icon orange caret right"></i>Leer Código QR</a>
    <a routerLink="configuraciones" class="item"> <i class="icon orange caret right"></i>Preferencias</a>
    <!-- <a routerLink="inventario/ver" class="item"> <i class="icon caret right"></i> Ver Inventario </a> -->
  </ng-container>

  <a *ngIf="_storage.isToken()" (click)="closeSession()" class="item"> <i class="icon red close right"></i> Cerrar Sesión</a>

  <code id="idLastUpdate" class="item">versión 2.2.6 • 29-05-2020</code>

</div>
<div class="pusher">

  <div class="ui one column stackable page grid">
  <!-- <div class="ui one column stackable center aligned page grid"></div> -->

    <div class="column twelve wide">

      <!-- <div class="ui divider"></div> -->

      <div id="imgLogo" class="ui">
        <a href="http://app.agdseguridad.com.ar/">
          <img class="ui small image centered" style="margin-bottom:15px;" alt="http://www.agdseguridad.com.ar" src="assets/logo2.png">
        </a>

        <!-- <h3 class="ui red centered header" (click)="coronavirus()" style="margin: 0 !important; padding: 0 !important;">
          #QuedateEnCasa <i class="ar flag"></i>
        </h3> -->

      </div>

      <router-outlet></router-outlet>

      <!-- <div class="ui divider"></div> -->

    </div>
    
  </div>

</div>


<!-- <div class="container">
    <div class="ui grid">
             
        <div class="ui divider"></div>
        
        <div class="centered row">
          <img class="ui image" src="http://www.agdseguridad.com.ar/images/logo.png">
        </div>
  
        <div class="six wide column"></div>
  
        <div class="four wide column">
          <app-login></app-login>
        </div>
  
        <div class="six wide column"></div>
  
    </div>
  </div> -->