#btnMenu {
  position: fixed;
  z-index: 999;
}

#menuItemUser {
  color: darkorange;
  background-color: black;
  margin: 0;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  border-bottom: darkorange 0.2px solid;
}

#idMenuLateral {
  font-size: 1.5em;
}

#idMenuLateral a {
  text-align: right;
}

#imgLogo {
  margin-top: 20px;
  margin-bottom: 30px;
}

#idLastUpdate {
      position: absolute !important;
           top: CALC(100% - 100px);
         width: 100%;
        border: 0 none !important;
    text-align: left;
         color:grey; 
}