<div class="ui one column stackable center aligned page grid">
  <div class="column twelve wide">

    <div class="ui divider"></div>

    <img class="ui image centered" style="margin-bottom:15px;" src="http://www.agdseguridad.com.ar/images/logo.png">

    <app-login></app-login>

    <div class="ui divider"></div>

  </div>
</div>


<!-- <div class="container">
    <div class="ui grid">
             
        <div class="ui divider"></div>
        
        <div class="centered row">
          <img class="ui image" src="http://www.agdseguridad.com.ar/images/logo.png">
        </div>
  
        <div class="six wide column"></div>
  
        <div class="four wide column">
          <app-login></app-login>
        </div>
  
        <div class="six wide column"></div>
  
    </div>
  </div> -->
