<div class="ui center aligned page grid">

    <h2 class="ui centered header">
        Tickets de <i>{{this._storage.getSavedUser()}}</i>
    </h2>

    <br/>

    <div class="field">
      <div class="ui toggle checkbox">
        <input type="checkbox" (change)="getTicketsAccordingCheckbox()">
        <label>Ver únicamente los resueltos</label>
      </div>
    </div>

    <br/><br/>
    
    <div class="field">
      <div class="ui labeled input">
        <div class="ui label"> Cantidad máxima: </div>
        <input type="number" [(ngModel)]="cantVer" (change)="getTicketsAccordingCheckbox()">
      </div>
    </div>


    <table class="ui celled striped orange fixed table">
      
        <thead>
            <tr class="center aligned">
                <th><i class="exclamation circle icon"></i>Nº TICKET</th>
                              <th><i class="info icon"></i>TÍTULO</th>
                              <th><i class="bars icon"></i>DESCRIPCIÓN</th>
            </tr>
        </thead>

        <!-- Hago un if para que cuando haya un LOADING se oculte el body para que se vea bien el 'Cargando' en el centro de la pantalla -->
        <tbody *ngIf="!this._loader.active">
          
          <ng-container *ngFor="let item of tickets | paginate: { itemsPerPage: 10, currentPage: p }; let indice=index">

            <tr  [ngClass]="{'positive': item.status >= 5}" onclick="console.log(this)">
              <td class="center aligned"> <i class="icon" [ngClass]="(item.status >= 5) ? 'check circle' : 'exclamation circle'"></i>   N° {{item.id}}    </td>
              <td>               <i class="info icon"></i>      {{item.name}}  </td>
              <!--<td [innerHtml]="item.content | entidadesHtml"></td> -->
              <td>               <i class="bars icon"></i> <em> {{item.content | entidadesHtml}} </em> </td>
            </tr>


          </ng-container>
         
        </tbody>

        <tfoot class="full-width">
            <tr>
              <td>
                  <pagination-controls (pageChange) = 'p = $event'
                                          autoHide = 'true'
                                        responsive = 'false'
                                    directionLinks= 'true'
                                      previousLabel= 'Anterior'
                                          nextLabel= 'Siguiente'
                                            maxSize= '50'
                                creenReaderPaginationLabel= 'Paginación'
                                screenReaderPageLabel= 'página'
                                screenReaderCurrentLabel= 'Estás en la página'>
                  </pagination-controls>
              </td>
            </tr>
        </tfoot>

    </table>


</div>
<!--

STATUS
2 → Processing (assigned)
4 → Pending
5 → Solved
6 → Closed

-->