
<div class="ui center aligned yellow segment">

    <button class="ui circular secondary button" (click)="toggleCamera()">
        <i class="exchange icon"></i> Cambiar
    </button>

    <button class="ui circular red button" (click)="outputLectura(null)">
        <i class="close icon"></i> Cerrar
    </button>
    
    <br><br>

    <!-- <div *ngIf="switchedOn" id="qrcodeid">
            <qr-code-all [canvasWidth]="widthViewport"
                [debug]="false"
                [stopAfterScan]="true"
                [updateTime]="200"
                (onCapture)="outputLectura($event)"
                [scanQrCode]="true">
            </qr-code-all>
    </div> -->

    <div *ngIf="switchedOn" id="qrcodeid">
        <zxing-scanner #scanner
                [enable]="switchedOn"
                (autofocusEnabled)="true"
                (camerasFound)="camerasFoundHandler($event)"
                (scanSuccess)="outputLectura($event)"
        ></zxing-scanner>
    </div>

</div>